In [1]:
import datetime
import pandas as pd
import hopsworks
import os
from dotenv import load_dotenv
from functions import utils
import json

import datetime
import requests
import pandas as pd
import hopsworks
import datetime
from pathlib import Path
from functions import utils
import json
import re
import os
import warnings
warnings.filterwarnings("ignore")

In [2]:
load_dotenv()
HOPSWORKS_API_KEY = os.getenv("HOPSWORKS_API_KEY")

os.environ["HOPSWORKS_API_KEY"] = HOPSWORKS_API_KEY
print(HOPSWORKS_API_KEY)

AhdA5UndBaVILBvJ.cvcBxXmN8mo8HPjR1Ryb7XncvNQ6enGsnTHL3LZIUJJ75mpRD0tTptadPTgx4zRu

In [3]:
CITY = "dublin"

## Read the bike data from csv-files

In [4]:
# get directory path and all files in it
df_bike = pd.DataFrame()
for file in os.listdir(CITY):
    if file.endswith(".csv"):
        df_tmp = pd.read_csv(f"{CITY}/" + file,  parse_dates=['datetime'], skipinitialspace=True)
        df_tmp['station'] = file.split(".")[0]
        df_bike = pd.concat([df_bike, df_tmp])

df_bike = df_bike.set_index(['datetime', 'station']).reset_index(drop=False)

df_bike

                          datetime           station  num_bikes_available
0        2025-01-06 15:06:11+00:00     AVONDALE_ROAD                   19
1        2025-01-06 14:48:56+00:00     AVONDALE_ROAD                   18
2        2025-01-06 13:49:04+00:00     AVONDALE_ROAD                   18
3        2025-01-06 12:46:44+00:00     AVONDALE_ROAD                   18
4        2025-01-06 11:49:15+00:00     AVONDALE_ROAD                   11
...                            ...               ...                  ...
1056433  2023-08-05 16:54:54+00:00  YORK_STREET_WEST                   20
1056434  2023-08-05 17:56:37+02:00  YORK_STREET_WEST                   16
1056435  2023-08-05 14:51:22+00:00  YORK_STREET_WEST                   19
1056436  2023-08-05 15:54:31+02:00  YORK_STREET_WEST                   17
1056437  2023-08-05 12:56:53+00:00  YORK_STREET_WEST                   18

[1056438 rows x 3 columns]

In [5]:
df_bike.dropna(inplace=True)
df_bike

                          datetime           station  num_bikes_available
0        2025-01-06 15:06:11+00:00     AVONDALE_ROAD                   19
1        2025-01-06 14:48:56+00:00     AVONDALE_ROAD                   18
2        2025-01-06 13:49:04+00:00     AVONDALE_ROAD                   18
3        2025-01-06 12:46:44+00:00     AVONDALE_ROAD                   18
4        2025-01-06 11:49:15+00:00     AVONDALE_ROAD                   11
...                            ...               ...                  ...
1056433  2023-08-05 16:54:54+00:00  YORK_STREET_WEST                   20
1056434  2023-08-05 17:56:37+02:00  YORK_STREET_WEST                   16
1056435  2023-08-05 14:51:22+00:00  YORK_STREET_WEST                   19
1056436  2023-08-05 15:54:31+02:00  YORK_STREET_WEST                   17
1056437  2023-08-05 12:56:53+00:00  YORK_STREET_WEST                   18

[1056438 rows x 3 columns]

## Get the weather data from Open Mateo

First, we need to get the earliest date of the bike data so that we can get the weater data from Open Mateo for the same period.

In [6]:
earliest_bike_date_raw = pd.Series.min(df_bike['datetime'])
earliest_bike_date = earliest_bike_date_raw.strftime('%Y-%m-%d')
earliest_bike_datetime = earliest_bike_date_raw.strftime('%Y-%m-%d %H:%M:%S %Z')
last_bike_date_raw = pd.Series.max(df_bike['datetime'])
last_bike_date = last_bike_date_raw.strftime('%Y-%m-%d')
last_bike_datetime = last_bike_date_raw.strftime('%Y-%m-%d %H:%M:%S %Z')

earliest_bike_datetime, last_bike_datetime

('2023-08-05 12:56:53 UTC', '2025-01-06 15:06:11 UTC')

Then, we get the weather data from Open Mateo

In [7]:
weather_df = utils.get_historical_weather(CITY, earliest_bike_date, last_bike_date)
weather_df = weather_df.rename(columns={'date_x': 'datetime'})
weather_df.dropna(inplace=True)

# remove col date_y, date_only
weather_df = weather_df.drop(columns=['date_y', 'date_only'])

weather_df

Coordinates 53.32161331176758°N -6.501922607421875°E
Elevation 11.0 m asl
Timezone None None
Timezone difference to GMT+0 0 s

,datetime,temperature_2m,apparent_temperature,rain,snowfall,wind_speed_10m,daylight_duration,rain_sum,city
0,2023-08-05 00:00:00+00:00,12.889501,11.347359,0.5,0.00,13.202726,55572.929688,26.800001,dublin
1,2023-08-05 01:00:00+00:00,12.589500,10.415937,4.7,0.00,17.114204,55572.929688,26.800001,dublin
2,2023-08-05 02:00:00+00:00,12.339500,9.593327,4.4,0.00,20.833395,55572.929688,26.800001,dublin
3,2023-08-05 03:00:00+00:00,12.589500,9.265682,2.9,0.00,25.420181,55572.929688,26.800001,dublin
4,2023-08-05 04:00:00+00:00,12.839500,9.678358,2.6,0.00,25.264202,55572.929688,26.800001,dublin
...,...,...,...,...,...,...,...,...,...
12451,2025-01-04 19:00:00+00:00,2.689500,-0.908888,0.5,0.00,12.108261,27707.722656,3.700000,dublin
12452,2025-01-04 20:00:00+00:00,2.639500,-1.459750,0.9,0.00,15.542662,27707.722656,3.700000,dublin
12453,2025-01-04 21:00:00+00:00,2.189500,-2.205879,0.8,0.07,17.337091,27707.722656,3.700000,dublin
12454,2025-01-04 22:00:00+00:00,1.689500,-3.011362,0.4,0.56,19.083395,27707.722656,3.700000,dublin
12455,2025-01-04 23:00:00+00:00,1.439500,-3.543139,0.2,0.56,20.674158,27707.722656,3.700000,dublin

## Data validation rules

First, we validate that the number of bikes avaliable is always greater than or equal to zero.

In [8]:
if 'num_bikes_available' not in df_bike.columns:
    raise ValueError("The column 'num_bikes_available' does not exist in the dataframe.")

invalid_rows = df_bike[(df_bike['num_bikes_available'] < 0) | (df_bike['num_bikes_available'] > 100)]

if not invalid_rows.empty:
    print("Validation failed: Some rows have invalid values in 'num_bikes_available'.")
    print(invalid_rows)
    assert False
else:
    print("Validation passed: All values in 'num_bikes_available' are within the range 0 to 100.")
    assert True

Validation passed: All values in 'num_bikes_available' are within the range 0 to 100.

Then, we validate that the rainfall, snowfall, and wind speed are always greater than or equal to zero, and below 1000.

In [9]:
if 'rain' not in weather_df.columns:
    raise ValueError("The column 'rain' does not exist in the dataframe.")
if 'snowfall' not in weather_df.columns:
    raise ValueError("The column 'snowfall' does not exist in the dataframe.")
if 'wind_speed_10m' not in weather_df.columns:
    raise ValueError("The column 'wind_speed_10m' does not exist in the dataframe.")

invalid_rows = weather_df[(weather_df['rain'] < 0) | (weather_df['rain'] > 1000) |
                          (weather_df['snowfall'] < 0) | (weather_df['snowfall'] > 1000) |
                          (weather_df['wind_speed_10m'] < 0) | (weather_df['wind_speed_10m'] > 1000)]

if not invalid_rows.empty:
    print("Validation failed: Some rows have invalid values in the specified columns.")
    print(invalid_rows)
    assert False
else:
    print("Validation passed: All values in the specified columns are within the range 0 to 1000.")
    assert True

Validation passed: All values in the specified columns are within the range 0 to 1000.

## Connect to Hopsworks and create two feature groups (+more)

In [10]:
project = hopsworks.login()
secrets = utils.secrets_api(project.name)

fs = project.get_feature_store()

Connected. Call `.close()` to terminate connection gracefully.

Logged in to project, explore it here https://c.app.hopsworks.ai:443/p/1207494
Connected. Call `.close()` to terminate connection gracefully.

2025-01-06 17:44:43,349 INFO: Initializing external client
2025-01-06 17:44:43,350 INFO: Base URL: https://c.app.hopsworks.ai:443
Connected. Call `.close()` to terminate connection gracefully.

Save the city location and times for the data to Hopsworks for easy access later.

In [11]:
latitude, longitude = utils.get_city_coordinates(CITY)

city_secrets_dict = {
    "city": CITY,
    "latitude": latitude,
    "longitude": longitude,
}

time_secrets_dict = {
    "earliest_bike_datetime": earliest_bike_datetime,
    "last_bike_datetime": last_bike_datetime
}

city_secrets_json = json.dumps(city_secrets_dict)
time_secrets_json = json.dumps(time_secrets_dict)

try:
    secrets.create_secret("city_secrets", city_secrets_json)
except hopsworks.RestAPIError:
    print("city_secrets already exists. To update, delete the secret in the UI (https://c.app.hopsworks.ai/account/secrets) and re-run this cell.")
    existing_key = secrets.get_secret("city_secrets").value
    print(f"{existing_key}")
    print()

try:
    secrets.create_secret("time_secrets", time_secrets_json)
except hopsworks.RestAPIError:
    print("time_secrets already exists. To update, delete the secret in the UI (https://c.app.hopsworks.ai/account/secrets) and re-run this cell.")
    existing_key = secrets.get_secret("time_secrets").value
    print(f"{existing_key}")

Secret created successfully, explore it at https://c.app.hopsworks.ai:443/account/secrets
Secret created successfully, explore it at https://c.app.hopsworks.ai:443/account/secrets

### Feature group 1: Bike data

In [12]:
bike_fg = fs.get_or_create_feature_group(
    name='bike_data',
    description='How many bikes are available at each station at a given time',
    version=1,
    primary_key=["datetime", "station"],
    event_time="datetime"
)

bike_fg.insert(df_bike)

bike_fg.update_feature_description("num_bikes_available", "Number of bikes available at the station")
bike_fg.update_feature_description("datetime", "Timestamp of the observation")
bike_fg.update_feature_description("station", "Name of the station")

Feature Group created successfully, explore it at
https://c.app.hopsworks.ai:443/p/1207494/fs/1195126/fg/1393630

Uploading Dataframe: 0.00% |          | Rows 0/1056438 | Elapsed Time: 00:00 | Remaining Time: ?

Launching job: bike_data_1_offline_fg_materialization
Job started successfully, you can follow the progress at
http://c.app.hopsworks.ai/p/1207494/jobs/named/bike_data_1_offline_fg_materialization/executions

### Feature group 2: Weather data

In [15]:
weather_fg = fs.get_or_create_feature_group(
    name='weather_data',
    description='Weather data for the city',
    version=1,
    primary_key=["datetime"],
    event_time="datetime"
)

weather_fg.insert(weather_df)

# "hourly": ["temperature_2m", "apparent_temperature", "rain", "snowfall", "snow_depth", "wind_speed_10m"],
# "daily": ["sunshine_duration", "daylight_duration", "rain_sum"]

weather_fg.update_feature_description("datetime", "Timestamp of the observation")
weather_fg.update_feature_description("temperature_2m", "Temperature in Celsius")
weather_fg.update_feature_description("apparent_temperature", "Apparent temperature in Celsius")
weather_fg.update_feature_description("rain", "Rain percipitation in mm")
weather_fg.update_feature_description("snowfall", "Snowfall in mm")
weather_fg.update_feature_description("wind_speed_10m", "Wind speed 10 m above ground level")
weather_fg.update_feature_description("daylight_duration", "Daylight duration in seconds")
weather_fg.update_feature_description("rain_sum", "Total rain in mm")

2025-01-07 07:40:05,834 ERROR: Flight returned unavailable error, with message: failed to connect to all addresses; last error: UNKNOWN: ipv4:3.19.160.248:5005: tcp handshaker shutdown
Traceback (most recent call last):
  File "c:\Users\isakn\miniconda3\envs\SML_Project\lib\site-packages\hsfs\core\arrow_flight_client.py", line 192, in __init__
    self._health_check()
  File "c:\Users\isakn\miniconda3\envs\SML_Project\lib\site-packages\retrying.py", line 56, in wrapped_f
    return Retrying(*dargs, **dkw).call(f, *args, **kw)
  File "c:\Users\isakn\miniconda3\envs\SML_Project\lib\site-packages\retrying.py", line 266, in call
    raise attempt.get()
  File "c:\Users\isakn\miniconda3\envs\SML_Project\lib\site-packages\retrying.py", line 301, in get
    six.reraise(self.value[0], self.value[1], self.value[2])
  File "c:\Users\isakn\miniconda3\envs\SML_Project\lib\site-packages\six.py", line 724, in reraise
    raise value
  File "c:\Users\isakn\miniconda3\envs\SML_Project\lib\site-packages\retrying.py", line 251, in call
    attempt = Attempt(fn(*args, **kwargs), attempt_number, False)
  File "c:\Users\isakn\miniconda3\envs\SML_Project\lib\site-packages\hsfs\core\arrow_flight_client.py", line 286, in _health_check
    list(self._connection.do_action(action, options=options))
  File "pyarrow\\_flight.pyx", line 1556, in _do_action_response
  File "pyarrow\\_flight.pyx", line 68, in pyarrow._flight.check_flight_status
pyarrow._flight.FlightUnavailableError: Flight returned unavailable error, with message: failed to connect to all addresses; last error: UNKNOWN: ipv4:3.19.160.248:5005: tcp handshaker shutdown
2025-01-07 07:40:30,028 ERROR: Flight returned unavailable error, with message: failed to connect to all addresses; last error: UNKNOWN: ipv4:3.19.160.248:5005: tcp handshaker shutdown
Traceback (most recent call last):
  File "c:\Users\isakn\miniconda3\envs\SML_Project\lib\site-packages\hsfs\core\arrow_flight_client.py", line 350, in afs_error_handler_wrapper
    return func(instance, *args, **kw)
  File "c:\Users\isakn\miniconda3\envs\SML_Project\lib\site-packages\hsfs\core\arrow_flight_client.py", line 411, in read_query
    return self._get_dataset(
  File "c:\Users\isakn\miniconda3\envs\SML_Project\lib\site-packages\retrying.py", line 56, in wrapped_f
    return Retrying(*dargs, **dkw).call(f, *args, **kw)
  File "c:\Users\isakn\miniconda3\envs\SML_Project\lib\site-packages\retrying.py", line 266, in call
    raise attempt.get()
  File "c:\Users\isakn\miniconda3\envs\SML_Project\lib\site-packages\retrying.py", line 301, in get
    six.reraise(self.value[0], self.value[1], self.value[2])
  File "c:\Users\isakn\miniconda3\envs\SML_Project\lib\site-packages\six.py", line 724, in reraise
    raise value
  File "c:\Users\isakn\miniconda3\envs\SML_Project\lib\site-packages\retrying.py", line 251, in call
    attempt = Attempt(fn(*args, **kwargs), attempt_number, False)
  File "c:\Users\isakn\miniconda3\envs\SML_Project\lib\site-packages\hsfs\core\arrow_flight_client.py", line 396, in _get_dataset
    info = self.get_flight_info(descriptor)
  File "c:\Users\isakn\miniconda3\envs\SML_Project\lib\site-packages\retrying.py", line 56, in wrapped_f
    return Retrying(*dargs, **dkw).call(f, *args, **kw)
  File "c:\Users\isakn\miniconda3\envs\SML_Project\lib\site-packages\retrying.py", line 266, in call
    raise attempt.get()
  File "c:\Users\isakn\miniconda3\envs\SML_Project\lib\site-packages\retrying.py", line 301, in get
    six.reraise(self.value[0], self.value[1], self.value[2])
  File "c:\Users\isakn\miniconda3\envs\SML_Project\lib\site-packages\six.py", line 724, in reraise
    raise value
  File "c:\Users\isakn\miniconda3\envs\SML_Project\lib\site-packages\retrying.py", line 251, in call
    attempt = Attempt(fn(*args, **kwargs), attempt_number, False)
  File "c:\Users\isakn\miniconda3\envs\SML_Project\lib\site-packages\hsfs\core\arrow_flight_client.py", line 383, in get_flight_info
    return self._connection.get_flight_info(
  File "pyarrow\\_flight.pyx", line 1600, in pyarrow._flight.FlightClient.get_flight_info
  File "pyarrow\\_flight.pyx", line 68, in pyarrow._flight.check_flight_status
pyarrow._flight.FlightUnavailableError: Flight returned unavailable error, with message: failed to connect to all addresses; last error: UNKNOWN: ipv4:3.19.160.248:5005: tcp handshaker shutdown
Error: Reading data from Hopsworks, using Hopsworks Feature Query Service

FeatureStoreException: Could not read data using Hopsworks Feature Query Service. If the issue persists, use read_options={"use_hive": True} instead.